@font-face {
    font-family: superwoobly;
    src: url(../Assets/SuperWoobly-8MJlz.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body {
    align-content: center;
    align-items: center;
    overflow-x: hidden;
}
button {
    height: 20px;
    width: 50px;
    cursor: pointer;
}

.background {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

#main-app {
    width: 90vw;
    height: 100%;
    min-height: 100vh;
    background-color: var(--primary);
    background-image: radial-gradient(var(--dots) 10px, transparent 10px);
    background-size: 30px 30px;
    margin: 0 auto 0 auto;
    animation: background-animation 20s infinite linear;
}
h1 {
    background-color: #00000000;
    width: 255px;
    margin: auto;
    padding-top: 20px;
    color: var(--logo);

    font-family:'Times New Roman', Times, serif;
    //font-style: oblique;
    cursor: default;
}
.logo {
    user-select: none;
    animation: start 1s ease-out;
    height: 50px;
    text-align: center;
    font-family: superwoobly;
    width: auto;
    background: linear-gradient(to right, var(--logo) 30%, var(--text-secondary) 60%, var(--border-input-2) 80%, var(--logo) 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 20s linear infinite;
}
.dark > #main-app > .logo {
        background: linear-gradient(to right, var(--logo) 30%, var(--item-background) 60%, var(--secondary) 80%, var(--logo) 100%);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradient 20s linear infinite;
} 

.goback {
    width: 50px;
    height: 30px;
    background-color: var(--secondary);
    position: absolute;
    top: 24px;
    left: 6vw;
    border-radius: 8px;
    animation: start 0.5s ease;
    user-select: none;
    cursor: pointer;
}

.gobackicon {
    margin-left: 12px;
    margin-top: 3px;
}

.delete {
    background-color: #c75d5d;
    color: white;
    border: 0px;
    height: 15px;
    width: 15px;
    font-size: 12px;
    border-radius: 10px;
    margin-left: 15px;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
    user-select: none;
}
.delete:hover {
    background-color: #a74e4e;
}

.animation-fade-50 {
    animation: start50 0.5s ease;
}

.page-animation-wrapper {
    height: calc(100% - 90px);
    animation: startlist 0.5s ease-in;
}
.page-animation-wrapper-close {
    animation: closelist 0.2s ease-out;
    animation-fill-mode: forwards;
}

@keyframes background-animation {
    from {background-position: 0 0;}
    to {background-position: 150px 150px;}
}
@keyframes start {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes start50 {
    from {opacity: 0.5}
    to {opacity: 1}
}
@keyframes main-panels-slide-in {
    from {transform: translateY(300px); opacity: 0}
    to {transform: translateY(0); opacity: 1}
}
@keyframes startlist {
    from {transform: translate(-200px); opacity: 0; height: calc(100vh - 90px);}
    to {transform: translate(0); opacity: 1; height: calc(100vh - 90px);}
}
@keyframes closelist {
    from {transform: translate(0); opacity: 1; height: calc(100vh - 90px);}
    to {transform: translate(200px); opacity: 0; height: calc(100vh - 90px);}
}
@keyframes gradient {
    to { background-position: 200% center; }
}