.form {
    backdrop-filter: blur(5px);
    border-left: 2px solid var(--border-item-1);
    border-top: 2px solid var(--border-item-1);
    border-right: 2px solid var(--border-item-2);
    border-bottom: 2px solid var(--border-item-2);
    border-radius: 10px;
    padding: 10px 0 10px 0;
    margin: 20px 10px 16px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    #change-input-type {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        gap: 10px;
        margin-bottom: 10px;
        color: var(--text-primary);
        .icon {
            color: var(--text-primary);
            cursor: pointer;
        }
        p {
            width: 200px;
            text-align: center;
        }
    }
}

.form-change {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    width: 340px;
    margin: auto;
    
}
.save-btn {
        width: 110px;
        height: 24px;
        background-color: var(--secondary);
        font-size: 17px;
        font-weight: 600;
        color: var(--text-secondary);
        margin-left: 5px;
    }
    .save-btn:hover {
        filter: brightness(95%);
    }

input {
    width: 100px;
    height: 20px;
    text-align: center;
    margin: 5px;
    font-size: 18px;
}
input:hover {
    filter: brightness(96%);
}

input, .save-btn, #static-total {
    border-left: 2px solid var(--border-input-1);
    border-top: 2px solid var(--border-input-1);
    border-right: 2px solid var(--border-input-2);
    border-bottom: 2px solid var(--border-input-2);
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    
}
.select-category{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    .select {
        width: 70%;
        min-height: 30px;
        border-left: 2px solid var(--border-input-1);
        border-top: 2px solid var(--border-input-1);
        border-right: 2px solid var(--border-input-2);
        border-bottom: 2px solid var(--border-input-2);
        border-radius: 8px;
        background-color: white;
        cursor: pointer;
        .select-cat-title {
            height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .select-subtitle {
                width: 100%;
                font-size: 18px;
                margin-left: 8px;
                color: #616161
            }
        }
        .select-cat-title:hover {
            background-color: #0000000a;
        }
    }
}



.item{
    width: 400px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    border-left: 2px solid var(--border-item-1);
    border-top: 2px solid var(--border-item-1);
    border-right: 2px solid var(--border-item-2);
    border-bottom: 2px solid var(--border-item-2);
    background-color: var(--item-background);
    display: flex;
    flex-direction: row;
    align-items: center;
    .date {
        font-size: 25px;
        padding-left: 25px;
        color: #616161;
    }

   
    
}
.hours {
    text-align: end;
    font-size: 25px;
    width: 55%;
    color: var(--hours);
}



#static-total{
    width: 408px;
    height: 48px;
    background-color: var(--item-background);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 20px;
    text-align: center;
    padding: 8px;
    margin: 5px 0 5px 0;
    left: 50%;
    transform: translate(-50%, 0);
}
h2 {
    width: 100%;
    text-align: center;
    color: var(--text-secondary);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    appearance:textfield; /* Firefox */
}

@media only screen and (max-width: 475px) {
    #static-total{
        width: 350px;
    }
}
