.form {
    backdrop-filter: blur(5px);
    border-left: 2px solid var(--border-item-1);
    border-top: 2px solid var(--border-item-1);
    border-right: 2px solid var(--border-item-2);
    border-bottom: 2px solid var(--border-item-2);
    border-radius: 10px;
    padding: 10px 0 10px 0;
    margin: 20px auto 16px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 428px;
    animation: startlistleft 0.5s ease-out;
    #change-input-type {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        gap: 10px;
        margin-bottom: 10px;
        .icon {
            color: var(--logo);
            cursor: pointer;
        }
        p {
            width: 200px;
            color: var(--logo);
            text-align: center;
        }
    }
}

.form-change {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    width: 340px;
    margin: auto;
}
.save-btn {
    width: 110px;
    height: 24px;
    background-color: var(--secondary);
    font-size: 17px;
    font-weight: 600;
    color: var(--text-secondary);
    margin-left: 5px;
    transition: all 0.3s ease;
}
.save-btn:hover {
    filter: brightness(95%);
    transform: scale(1.05) skewY(1deg);
}

input {
    width: 100px;
    height: 20px;
    text-align: center;
    margin: 5px;
    font-size: 18px;
    transition: all 0.3s ease;
}
input:hover {
    filter: brightness(96%);
}

input, .save-btn, #static-total, .timer-btn {
    border-left: 2px solid var(--border-input-1);
    border-top: 2px solid var(--border-input-1);
    border-right: 2px solid var(--border-input-2);
    border-bottom: 2px solid var(--border-input-2);
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    
}
.stopwatch-btn {
    width: 160px;
    height: 80px;
    margin: 8px;
    font-size: 32px;
    border-left: 2px solid var(--border-input-1);
    border-top: 2px solid var(--border-input-1);
    border-right: 2px solid var(--border-input-2);
    border-bottom: 2px solid var(--border-input-2);
    background-color: var(--secondary);
    color: var(--logo);
    border-radius: 100px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
.stopwatch-btn:hover {
    filter: brightness(95%);
}
.timer {
    background-color: var(--primary);
}
.timer-settings {
    width: 160px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 4px;
    .timer-setting {
        width: 50%;
        box-sizing: border-box;
        border-left: 2px solid var(--border-input-1);
        border-top: 2px solid var(--border-input-1);
        border-right: 2px solid var(--border-input-2);
        border-bottom: 2px solid var(--border-input-2);
        border-radius: 8px;
        color: var(--logo);
        background-color: var(--primary);
        transition: all 0.3s ease;
    }
    .timer-setting:hover {
        filter: brightness(95%);
    }
    .default {
        background-color: var(--secondary);
    }
    .default:hover {
        transform: scale(1.05) skewY(1deg);
    }
}


.select-category{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    .select {
        width: 70%;
        min-height: 30px;
        border-left: 2px solid var(--border-input-1);
        border-top: 2px solid var(--border-input-1);
        border-right: 2px solid var(--border-input-2);
        border-bottom: 2px solid var(--border-input-2);
        border-radius: 8px;
        background-color: white;
        cursor: pointer;
        .select-cat-title {
            height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            transition: all 0.3s ease;
            .select-subtitle {
                width: 100%;
                font-size: 18px;
                margin-left: 8px;
                color: #616161
            }
        }
        .select-cat-title:hover {
            background-color: #0000000a;
        }
    }
}

.list {
    animation: startlistleft 0.5s ease-out;
}



.item{
    width: 400px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    border-left: 2px solid var(--border-item-1);
    border-top: 2px solid var(--border-item-1);
    border-right: 2px solid var(--border-item-2);
    border-bottom: 2px solid var(--border-item-2);
    background-color: var(--item-background);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2px;
}
.date {
    font-size: 25px;
    padding-left: 25px;
    color: #616161;
    cursor: default;
}
.hours {
    text-align: end;
    font-size: 25px;
    width: 40%;
    color: var(--hours);
    cursor: default;
}
.minutes {
    text-align: end;
    font-size: 25px;
    margin-left: 8px;
    width: 45px;
    color: var(--hours);
    cursor: default;
}



#static-total{
    width: 408px;
    background-color: var(--item-background);
    display: flex;
    flex-direction: row;
    min-height: 52px;
    align-items: center;
    position: fixed;
    bottom: 20px;
    text-align: center;
    padding: 8px;
    margin: 5px 0 5px 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 0.5);
    -moz-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 0.5);
    box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 0.5);
    h2 {
        width: 100%;
        text-align: center;
        color: var(--text-secondary);
        line-height: 26px;
    }
}

p {
    color: var(--logo);
    cursor: default;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    appearance:textfield; /* Firefox */
}

@media only screen and (max-width: 475px) {
    #static-total{
        width: 350px;
    }
}
@media only screen and (max-width: 500px) {
    .form {
        margin: 20px 10px 16px 10px;
    }
}

@keyframes startlistleft {
    from {transform: translate(-500px)}
    to {transform: translate(0)}
}