.settingslist {
    margin-top: 16px;
}

.settingsitem {
    width: 400px;
    min-height: 50px;
    margin: auto;
    margin-bottom: 8px;
    border-radius: 10px;
    border-left: 2px solid var(--border-item-1);
    border-top: 2px solid var(--border-item-1);
    border-right: 2px solid var(--border-item-2);
    border-bottom: 2px solid var(--border-item-2);
    background-color: var(--item-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    .settingstitle {
        width: 400px;
        height: 50px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        .settingsitemp {
            font-size: 25px;
            font-weight: bold;
            color: var(--text-primary);
            text-align: left;
            margin-left: 16px;
            width: 100%;
        }
        .icon {
            color: var(--logo);
        }
    }
}


.themetable {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.themelist {
    height: 170px;
    width: 100%;
    margin-top: 8px;
}
.theme {
    height: 30px;
    width: 80%;
    margin: 5px;
    margin-left: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
}