#statistics-page-wrapper {
    width: 100%;
    height: 100%;
    .stat-title {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 16px;
        margin-bottom: 8px;
        user-select: none;
        h2 {
            width: 50%;
            font-size: 32px;
            font-weight: bold;
            color: var(--logo);
        }
        p {
            width: 50%;
            text-align: right;
        }
    }
    .separator {
        height: 2px;
        margin-bottom: 16px;
        background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, var(--secondary) 50%, rgba(0, 0, 0, 0) 100%);
    }
    #statistics-up{
        display: flex;
        flex-direction: row;
        align-items:start;
        gap: 16px;
        margin: 16px;
        margin-top: 20px;
        .statup {
            width: 100%;
            min-height: 180px;
            height: 100%;
            h3 {
                color: var(--logo);
                text-align: left;
                width: 90%;
            }
            p {
                width: 90%;
                text-align: left;
                font-size: 18px;
            }
            ol {
                width: 90%;
                li {
                    text-align: left;
                    margin-left: 16px;
                    color: var(--logo);
                    font-size: 18px;
                }
            }
            
        }
    }
    #statistics-information {
        min-height: 250px;
        padding-bottom: 32px;
        margin: 16px;
        text-align: left;
        span {
            font-size: 18px;
            width: 70%;
            color: var(--logo);
        }
    }
}

.blur-wrap {
    backdrop-filter: blur(5px);
    border-left: 2px solid var(--border-item-1);
    border-top: 2px solid var(--border-item-1);
    border-right: 2px solid var(--border-item-2);
    border-bottom: 2px solid var(--border-item-2);
    border-radius: 10px;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    #heart {
        height: 100%;
        width: 100%;
        margin: auto;
        font-size: 10px;
        font-family: monospace;
        text-align: center !important;
        background: linear-gradient(to right, #ff00007a 0%, #ff66007a 10%, #ffe6007a 20%,#fffb007a 30%, #91ff007a 40%, #00ff957a 50%, #00d9ff7a 60%, #0059ff7a 70%, #a200ff7a 80%, #ff71d07a 90%, #ff00007a 100%);
        background-size: 200% auto;
        color: #000;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradient 5s linear infinite;
        user-select: none;
    }
}
.heart-wrapper {
    max-width: 200px;
    flex-direction: row;
    align-items:center;
}

@keyframes gradient {
    to {
        background-position: 200% center;
    }
}