*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(240, 240, 240);
    align-content: center;
    justify-content: center;
    align-items: center;
    align-items: center;
}
button {
    height: 20px;
    width: 50px;
}

#main-app {
    width: 90vw;
    height: 100%;
    min-height: 100vh;
    background-color: #ffe9f2;
    background-image: radial-gradient(#ffffff7e 10px, transparent 10px);
    background-size: 30px 30px;
    margin: 0 auto 0 auto;
    animation: background-animation 20s infinite linear;
}

h1 {
    background-color: #00000000;
    width: 255px;
    margin: auto;
    padding-top: 20px;
    /* color: rgb(148, 93, 93); */
    /* color: #7a2020; */
    color: #6d3126;

    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
}

.goback {
    width: 50px;
    height: 30px;
    background-color: #ffb5ce;
    position: absolute;
    top: 24px;
    left: 40px;
    border-radius: 8px;
    
}

.gobackicon {
    margin-left: 12px;
    margin-top: 3px;
}

@keyframes background-animation {
    from {background-position: 0 0;}
    to {background-position: 150px 150px;}
}